.introduction-about-me{
    height: 100vh;
    text-align: center;
}

.name-tag{
    font-size: 50px;
    font-weight: 800;
    color: #32085C;
}
.name-tag-black{
    color: black;
}
.about-me-img-lg{
    max-width: 70% !important;
}

.img-title-name{
    position: absolute;
    text-align: left;
    font-size: 6vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    top: 40%;
}

.skills-card{
    color: white;
}
.skills-card li{
    list-style: none;
}
.skills-card:nth-child(1){
    background-color: #32085C;
}

.skills-card:nth-child(2){
    background-color: black;
}

.skills-card:nth-child(3){
    background-color: #474647 ;
}

footer{
    height: 5rem;
}
footer .col-md-6{
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.introduction-about-me-sm{
    display: none;
    height: 100vh;
}