@media only screen and (max-width: 480px) {
    .img-title-name{
        left: 6%;
        top: 36% !important;
    }
    .about-me-img{
        left: 5% !important;
    }
}

@media only screen and (max-width: 992px) {
    .side-menu{
        display: none !important;
    }
    .main-title{
        font-size: 70px !important;
    }
    .about-me-img{
        left: 8% !important;
    }
}

@media only screen and (min-width: 1150px) {
    .side-menu{
        padding-right: 1% !important;
    }

    .img-title-name{
        font-size: 47px !important;
        left: 28%;
        top: 57% !important;
    }
}