@media only screen and (max-width: 992px) {
    .side-menu{
        display: none !important;
    }
    .main-title{
        font-size: 70px !important;
    }
}

@media only screen and (min-width: 1150px) {
    .side-menu{
        margin-left: -50px !important;
    }
}