body {
    font-family: 'Urbanist';
}

.primary{
    color: black !important;
}
.secondary{
    color: #32085C !important;
}
.btn{
    border-radius: 1.25rem !important;
}
.btn-primary{
    background-color: #32085C !important;
    border-color: #32085C !important;
}

.main-title{
    font-size: 128px;
}

.sub-title{
    font-size: 50px;
}

.side-menu{
    position: fixed;
    height: 100vh;
    width: inherit;
}

.navbar{
    background-color: white;
}

.banner{
    height: 100vh;
    position: relative;
}

.banner-content{
    margin: 0;
    position: absolute;
    top: 47%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* portfolio */
.portfolio-content .nav,.portfolio-content .nav-link {
    background-color: #7a7a7a;
    color: white;
}
.portfolio-content .nav-tabs .nav-link:hover{
    background-color: #241d2b;
    color: white;
}

.portfolio-content .nav-tabs .nav-link.active{
    background-color: #32085C;
    color: white;
}

.portfolio-content .nav-tabs .nav-link{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border: none !important;
}
